* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(2, 2, 15);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color: rgb(2, 2, 15);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

.logo {
    font-size: 22px;
}

ul li a {
    text-decoration: none;
    color: white;
    margin-inline: 22px;
    font-size: 22px;
}

ul li a:hover {
    color: rgb(230, 27, 27);
    cursor: pointer;
}

.main {
    margin-top: 111px;
    display: flex;
    justify-content: center;
}

.main img {
    width: 300px;
    margin-left: 30px;
    border-radius: 45%;
    padding: 5px;
    /* border:2px solid rgb(164, 147, 245); */
}

.main h1 {
    font-size: 66px;

}

.main p {
    font-size: 18px;
    margin-top: 20px;
}

.main button {
    width: 140px;
    height: 40px;
    background-color: rgb(235, 15, 15);
    cursor: pointer;
    border: none;
    margin-top: 25px;
    font-weight: bold;
    color: black;

}

.main button:hover {
    background-color: red;
}

.main h3 {
    font-size: 22px;
}

.maintext {

    margin-top: 50px;
    margin-right: 140px;
    /* border:1px solid rgb(196, 232, 66);  */
    border-radius: 8px;
    padding: 10px;


}

.maintext h1 {
    color: rgba(243, 93, 93, 0.604);
}

.maintext button {
    margin-left: 145px;
}



.head {
    text-align: center;
    padding: 50px;
    color: white;
}

.about h3 {
    color: rgba(243, 93, 93, 0.604);
}

#insta {
    color: rgba(243, 93, 93, 0.604);
}

.head h1 {
    font-size: 40px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}

.about img {
    width: 350px;
    height: 350px;

    border-radius: 50%;
    border: 3px solid rgba(243, 93, 93, 0.604);
}

.about h3 {
    font-size: 45px;
}

.about h1 {
    font-size: 50px;
}

.about p {
    margin-top: 20px;
    font-size: 20px;

}

#insta,
#linked {
    text-decoration: none;
    cursor: pointer;
    color: rgb(251, 249, 249);
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btns button {
    padding: 11px;
    margin-inline: 20px;
    background-color: rgb(240, 14, 51);
    font-size: 20px;
    color: white;
    border-radius: 2px;
    border: none;
}

.service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servicecard {
    width: 300px;
    padding: 22px;
    background-color: grey;
    color: white;
    margin-inline: 22px;
    margin-top: 22px;
    text-align: center;
    border-radius: 5px;



}

.servicecard a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.servicecard i {
    font-size: 80px;
}

.servicecard p {
    margin-top: 22px;
}

.servicecard h2 {
    margin-top: 22px;
}

.servicecard button {
    margin-top: 22px;
    width: 100px;
    height: 33px;
    border: none;
    background-color: rgb(235, 15, 15);

}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workcard {
    text-align: center;
    margin-top: 44px;

}

.workcard img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    margin-inline: 22px;
    border: 3px solid rgba(243, 93, 93, 0.604);
    padding: 10px;
}

.workcard a {
    padding: 5px 22px;
    background-color: rgb(235, 15, 15);
    text-decoration: none;
    color: white;
    position: relative;
    top: 11px;
    width: 40px;
    height: 35px;
}

.workcard h3 {
    margin-top: 15px;
}

.contact {
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: rgb(96, 94, 94);
    text-align: center;
    border-radius: 4px;
}

.contact input {
    width: 96%;
    padding: 15px;
    height: 12px;
    font-size: 18px;
    margin-top: 22px;
}

.contact textarea {
    width: 96%;
    font-size: 20px;
    margin-top: 22px;
}


.contact button {
    width: 100px;
    height: 35px;
    background-color: rgb(235, 15, 15);
    color: white;
    margin-top: 6px;
    border: none;
    font-size: 19px;
}

.footer {
    font-size: 58px;
    text-align: center;
    margin-top: 30px;
    padding: 33px;
    background-color: rgb(2, 2, 15);
}

.icons {
    padding: 0px 50px;
}

.icons a {
    color: white;
}

.icons a:hover {
    color: rgb(173, 18, 18);
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.text p {
    margin-top: 11px;
    font-size: 22px;
    padding: 1px 25px;
}

/* @media screen and (max-width:1100px)
{
   .main{
       text-align: center;
       display: block;
   }
   #mainpic
   {
       margin-top:80px;
       margin-right:70px;
       height:500px;
       width:500px;
   }

    .about img
    {
        margin-right:80px;
        margin-top:20px;
        margin-left:60px;
        height:400px;
        width:400px;
    }
    .abouttext
    {
        margin-left:30px;
    }
    .maintext
    {
        margin-left:80px;
    }
}

@media screen and (max-width:762px)
{
     #mobile
    {
        margin-top:30px;
    }
}

@media screen and (max-width:534px)
{
     #web
    {
        margin-top:10px;
    }
    .maintext
    {
        margin-right:20px;
        
    }
    .abouttext
    {
         margin-left:120px;
    }

    .about img
    {
        margin-left:160px;
    }

    .servicecard
    {
        margin-left:80px;
    }

    .head
    {
       margin-left:50px ;
    }
    .btns
    {
        margin-left:70px;
    }

    #web
    {
        margin-top:30px;
    }

    .work
    {
        margin-right:270px;
        width:50%;
        display:flex;
        flex-wrap:wrap;
    }

    .contact
    {
        display:flex;
        flex-wrap:wrap;
        margin-left:100px;
    }
    .footer
    {
        margin-left:70px;
        width:100%;
        background-color:#03030c;
        
    }
} */
